<div>
    <div><a href="/login" class="btn btn-warning" style="margin-top: 5px">Back</a></div>

    <form>
        <div class="container">
            <div class="col d-flex justify-content-center">
                <h1>Student's Login</h1>
            </div>

            <div class="col d-flex justify-content-center">
                <form [formGroup]="studentLogin" (ngSubmit)="getStudentForm()" class="sm col-md-9">
                    <div class="form-outline mb-4">
                        <label for="roll">Roll Number</label>
                        <input type="number" class="form-control" placeholder="Enter Roll Number"
                            formControlName="roll" />
                        <ng-template [ngIf]="roll.invalid && roll.touched" >
                            <span class="error" style="color: red;">username is required</span>
                        </ng-template>

                        <!-- <span class="error" *ngIf="username.invalid">invalid username type</span> -->
                    </div>
                    <!-- <br> -->
                    <div class="form-outline mb-4">
                        <label>DOB</label>
                        <input type="date" class="form-control" placeholder="Enter password" formControlName="dob" />
                        <span class="error" *ngIf="dob.invalid && dob.touched" style="color: red;">password is required</span>
                    </div>
                    <br />
                    <div class="d-flex justify-content-center">
                        <button type="submit" [disabled]="studentLogin.invalid" class="btn btn-success">
                            View Result
                        </button>
                    </div>


                </form>
            </div>
        </div>
    </form>
</div>
<router-outlet></router-outlet>