<div class="container">
  <div class="mt-4 d-flex flex-row-reverse justify-content-between">
    
    <button routerLink="add" class="btn btn-warning">Add student</button>
    <a class="btn btn-warning" href="login/teacherlogin" >Back</a>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">Student Name</th>
        <th scope="col">Roll No</th>
        <th scope="col">DOB</th>
        <th scope="col">Score</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of resultList">
        <td>{{ item.name }}</td>
        <td>{{ item.roll }}</td>
        <td>{{ item.dob }}</td>
        <td>{{ item.score }}</td> 
        <td>
          <button class="btn btn-info" routerLink="update/{{item.id}}">Edit</button>&nbsp;
          <button class="btn btn-danger" (click)="deleteRecord(item.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>