<!-- <div class="container">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">
      <img src="../assets/images/exam-results.png" width="50" height="50" />
    </a>
    <form class="form-inline">
      <ul class="navbar-nacv flex-grow-1">
        <a routerLink="login" class="btn btn-outline-primary">Login</a>
      </ul>
    </form>
  </nav>
</div> -->
<app-header></app-header>
<app-index></app-index>

<!-- <router-outlet></router-outlet> -->

<app-footer></app-footer>

<!-- <h1>{{ abc.roll }}</h1>
  <h1>abc.roll</h1>

  <div *ngFor="let item of abc">
    <h1>{{ item.roll }}</h1>
  </div> -->
